*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.give_detail{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 210, 210);
     left: 20%;
    transform: translate(-50%,10%); 
    box-shadow: 10px 10px 5px lightblue;
    display: none;
    position:fixed;
    top: 0;
    opacity: 0;
    animation: slideIn 0.2s forwards;
    /* z-index: 2; */
}
@keyframes slideIn {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      
      opacity: 1;
    }
  }

